doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title MediaKeeper
    link(rel='stylesheet' href='fontawesome-5.5/css/all.min.css')
    link(rel='stylesheet' href='slick/slick.css')
    link(rel='stylesheet' href='slick/slick-theme.css')
    link(rel='stylesheet' href='magnific-popup/magnific-popup.css')
    link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/loop.css')
        
  body
      section.topsection
          ul.navbar-nav.ml-auto.ullist
            li.nav-item.ullist
              a.navbar-brand.tm-nav-link.topicon(href='/', class="far fa-folder-open") &nbsp MediaKeeper  &nbsp &nbsp &nbsp &nbsp
            li.nav-item.ullist
              a.nav-link.tm-nav-link(href="/") Home  &nbsp &nbsp &nbsp &nbsp
            li.nav-item.ullist
              a.nav-link.tm-nav-link(href='#whymediakepper') Why MediaKeeper?  &nbsp &nbsp &nbsp &nbsp
            li.nav-item.ullist
              a.nav-link.tm-nav-link(href='#contact') Contact &nbsp &nbsp &nbsp &nbsp
            li.nav-item.ullist.lilist
              a.nav-link.tm-nav-link(href="/signin") Sign In &nbsp &nbsp &nbsp &nbsp
      block content
          
        