doctype html
html(lang="en")
      meta(charset='UTF-8')
      title Login
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
      link(rel='stylesheet' href='stylesheets/style.css')
      <br><br><br>
      .cont
        if (message)
            div#note #{message}
        section
          form.form.sign-in(method='post' action='/login')
            h2 Welcome to MediaKeeper,
            label
              span Email
              input(type='email' name= 'email' id='email' required)
            label
              span Password
              input(type='password' name='password' id='password' required)
            p.forgot-pass 
              a.forgot-pass(href='') Forgot password?
            button.submit(type='submit') Login
           
        .sub-cont
          .img
            .img__text.m--up
              h2 New here?
              p Register and discover productivity features with secure storage! 
              br
              br 
              br
              br
              br
              br
              br
              br
              a.img__btn(href='register') Register   
          
      script(src='javascripts/script.js')