doctype html
html(lang="en")
    meta(charset='UTF-8')
    title Login/Registration
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet' href='stylesheets/style.css')
    <br><br><br>
    .cont
      .form.sign-in(method='post' action='/signin')
        h2 Welcome to MediaKeeper,
        label
          span Email
          input(type='email' name= 'username' id='username' required)
        label
          span Password
          input(type='password' name='password' id='password' required)
        p.forgot-pass 
          a.forgot-pass(href='') Forgot password?
        a.removeunderline(href='userhome')
          button.submit(type='button' name='login') Sign In
      .sub-cont
        .img
          .img__text.m--up
            h2 New here?
            p Sign up and discover productivity features with secure storage!
          .img__text.m--in
            h2 One of us?
            p If you already has an account, just sign in. We&apos;ve missed you!
          .img__btn
            span.m--up Sign Up
            span.m--in Sign In
        .form.sign-up(method="POST" action="/signin")
          h2 Time to feel like own,
          label
            span User Name
            input(type='text' name="username" id="username" required)
          label
            span Email
            input(type='email' name="email" id="email" required)
          label
            span Password
            input(type='password' name="password" id="password" required)
          a.removeunderline(href="/signin")
            button.submit(type='button' name="submitdetails" value="Submit") Sign Up
    
    script(src='javascripts/script.js')
