
doctype html
head
  meta(charset='UTF-8')
  title Welcome #{username}
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='stylesheets/userprofile-style.css')

nav.topsection.navbar.navbar-inverse.navbar-fixed-top
  //- Header Bar
  .container
    .navbar-header.headertext.navbar-nav 
      a.tm-nav-link.topicon.navbar-brandtop(href='', class="fa fa-folder-open") &nbsp Welcome to MediaKeeper &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp 
      a.nav-link.tm-nav-link.navbar-brandtop(href='', class="fa fa-user")  Hello, #{username}  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
      a.nav-link.tm-nav-link.navbar-brandtop(href='mailto:info@mediakeeper.com', class="fa fa-question-circle")  Need Help?   
    form(action="/logout" method="GET") 
        button.buttonpadding(type="submit") Log Out
.container 
  .panel-group
    .panel.panel-default.xlist
      .panel-heading
        h4.panel-title
        i.fa.fa-images 
          a(href='', class="fa fa-folder-open")
            | &nbsp MediaKeeper provides you the ability to store your images, files, videos altogether at one place.
        .panel-body
          button.btn-primary
            | Store all your MEDIA safely here!
          br
          br
          .drop-box
            .dragOverlay
            //- Upload Image block
            ul.list-group
              li.list-group-item.list-group-item-info
                .row
                  p Browse your Image and upload
              li.list-group-item
                | Upload your Image here!
                li.list-group-item.xlist
                  .row
                  form(method='post' action='/uploadphoto' enctype='multipart/form-data')
                    input(type='file' name= 'myImage' accept="image/*")
                    br
                    button.btn.btn-primary(type="submit") Upload Photo
                    br       
                    
            //- Upload Multiple Files block
            ul.list-group
              li.list-group-item.list-group-item-info
                .row
                  p Browse multiple files and upload   
              li.list-group-item
                | Upload multiple Files here!
              li.list-group-item.xlist
                .row
                form(method='post' action='/uploadmultiple' enctype='multipart/form-data')
                  input(type='file' name= 'myFiles' multiple)
                  br
                  button.btn.btn-primary(type="submit") Upload Files
                  
            //- Upload File block
            ul.list-group
              li.list-group-item.list-group-item-info
                .row
                  p Browse your File and upload    
              li.list-group-item
                | Upload your File here!
              li.list-group-item.xlist
                .row
                form(method='post' action='/uploadFile' enctype='multipart/form-data')
                  
                    input(type='file' name= 'myFile')
                    br
                    button.btn.btn-primary(type="submit") Upload File
    br
    br
    //-Footer
    footer.text-center.small.tm-footer
      p.mb-0
        |  &copy; 2021 MediaKeeper 
        | . 
        a(rel='nofollow' href='#home' title='HTML templates') Designed by Divyani Rajani

  -if(success-msg)
    success-msg