doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title MediaKeeper
    link(rel='stylesheet' href='fontawesome-5.5/css/all.min.css')
    link(rel='stylesheet' href='slick/slick.css')
    link(rel='stylesheet' href='slick/slick-theme.css')
    link(rel='stylesheet' href='magnific-popup/magnific-popup.css')
    link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/loop.css')
  section#home.text-white.tm-font-big.tm-parallax
    // Navigation
    nav#tmNav.navbar.navbar-expand-md.tm-navbar
      .container
        .tm-next
          a.navbar-brand(href='#home') MediaKeeper
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          i.fas.fa-bars.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.tm-nav-link(href="#home") Home
            li.nav-item
              a.nav-link.tm-nav-link(href='#whymediakepper') Why MediaKeeper?
            li.nav-item
              a.nav-link.tm-nav-link(href='#contact') Contact
            li.nav-item
              a.nav-link.tm-nav-link(href="/signin/") Sign In
              
    body
      block content
      